body {
    font-family: 'Arimo', sans-serif;
    background-color: #3A4965;
    color: #484848;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;    
}

table {
    margin: 50px auto;
    background-color: white;
    width: 1170px;
}

table, td, th {    
    border-collapse:collapse;
    border-spacing: 0;
}

th, td {
    vertical-align: middle;
    width: 160px;
    border-bottom: 2px solid #E8E8E8;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #E3E3E3;
}

td:nth-child(odd), th:nth-child(odd) {
    background-color: #f2f2f2;
}

td button {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    width: 147px;
    height: 44px;
    border-radius: 5px;
    border: none;
}

.header-topic {
    width: 200px;
    font-size: 14px;
    color: #484848;
}

.header-topic span {
    position: relative;
    bottom: 7px;
    font-size: 20px;
}

.service-topic {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.column2-row1 {
    width: 160px;
    margin: 26px auto;
}

.column2-row1::before {
    content: url("image/box.png");
}

.column3-row1::before {
    content: url("image/cloud.png");
}

.column4-row1::before {
    content: url("image/mail.png");
}

.column5-row1::before {
    content: url("image/support.png");
}

.column6-row1::before {
    content: url("image/products.png");
}

.column7-row1::before {
    content: url("image/users.png");
}

.package-elements {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 22px auto;
}

.package-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.price {
    display: flex;
    gap: 6px;
}

.price-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    color: #FFFFFF;
}

.price-text span {
    position: relative;
    top: -16px;
    font-size: 18px;    
}

.month {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px; 
    color: #FFFFFF;  
}

.buy-btn {
    background-color: #484848;
    z-index: 0;
}

.buy-layout {
    z-index: 1;
    position: relative;
    width: 147px;
    height: 9px;
    top: -9px;
    background-color: #404040;
    border-radius: 0px 0px 5px 5px;
}